Button {
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 0.2rem;
  background-color: rgb(140, 218, 218);
  cursor: pointer;
  transition: background transform 200ms ease-in;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.02rem;

  &:hover {
    background-color: rgb(100, 168, 168);
  }

  &:active {
    transform: scale(1.02);
  }
}
