@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
